@use "variables" as *;
@use "mixin" as *;

// Header - Nav

%barra-nav{
    color: $color-letras-nav;
    background-color: $color-nav;
    width: 100%;
    text-decoration: none;
}

%lista-nav{
    $font-family: $fuente;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    list-style: none;
    color: $color-textos;
    @include flex(row, center, null, 0.6rem);
    margin-right: 0.5rem;
}

// Main

%main{
    @include flex(column, null, center, 1rem);
}

// Sections

%section-index{
    @include grid(1fr, 3, "tarjeta1" "tarjeta2" "tarjeta3", 0.5rem);
    padding: 1.25rem; /* Separamos el contenido de los bordes del contenedor */
}

%section-nosotros{
    @include grid(1fr, 3, "nosotros1" "nosotros2" "nosotros3", 0.5rem);
    padding: 1.25rem;
}

%section-proyectos{
    @include grid(1fr, repeat(4, auto), "proyectos1" "proyectos2" "proyectos3" "proyectos4", 1rem);
    padding: 1.25rem;
}

%section-faq{
    @include grid(1fr, 4, "faq1" "faq2" "faq3" "faq4", 1rem);
    padding: 1.25rem;
}

%section-contacto{
    @include grid(1fr, auto auto, "contacto1" "contacto2", 1.5rem);
    padding: 2rem; /* Separamos el contenido de los bordes del contenedor */
}

// Tarjetas

%tarjetas-index{
    @include flex(column, null, null, 1rem);
    padding: 1.25rem;
    font-weight: 400;
    border-radius: 1rem; /* Estilo visual agradable */
    margin-bottom: 1rem; /* Separamos las tarjetas entre sí */
}

%tarjetas-nosotros{
    @include flex(column, null, null, 1rem);
    padding: 1.25rem;
    font-weight: 400;
    border-radius: 1rem; /* Estilo visual agradable */
    margin-bottom: 1rem; /* Separamos las tarjetas entre sí */
}

%tarjetas-proyectos{
    @include flex(column, null, null, 1rem);
    padding: 1.25rem;
    font-weight: 400;
    border-radius: 1rem; /* Estilo visual agradable */
    margin-bottom: 1rem; /* Separamos las tarjetas entre sí */
}

%tarjetas-faq{
    @include flex(column, null, null, null);
    padding: 1.25rem;
    font-weight: 400;
    border-radius: 1rem; /* Estilo visual agradable */
    margin-bottom: 1rem; /* Separamos las tarjetas entre sí */
}

%tarjetas-contacto{
    @include flex(column, null, null, 0.5rem);
    padding: 1.25rem;
    font-weight: 400;
    border-radius: 1rem; /* Estilo visual agradable */
    margin-bottom: 1rem; /* Separamos las tarjetas entre sí */
}

// Boton y form

%boton-contacto{
    @include flex(null, center, center, null);
}

%form-label{
    @include flex(column, null, flex-start, 0.3rem);
}

// Figure pre-footer

%figure-prefooter{
    @include flex(column, null, center, 0.5rem);
    background-color: $color-nav;
    text-align: center;
    padding: 1.25rem;
    font-weight: 400;
    border-radius: 1rem;
    margin: 0 1rem 1rem 1rem; /* Separamos el figure del footer y de ambos costados */
}

// Footer

%footer{
    @include flex(column, center, center, null);
}

%footer-ul{
    @include flex(null, null, center, 1.5rem);
    list-style: none;
    padding-bottom: 0.5rem; /* Separamos un poquito las redes del borde inferior del footer */
}