// Flex

@mixin flex($direccion, $justificar, $alinear, $gap){
    display: flex;
    flex-direction: $direccion;
    justify-content: $justificar;
    align-items: $alinear;
    gap: $gap;
}

// Grid

@mixin grid($columnas, $filas, $template-areas, $gap){
    display: grid;
    grid-template-columns: $columnas;
    grid-template-rows: $filas;
    grid-template-areas: $template-areas;
    gap: $gap;
}

// === Vista de escritorio ===

// Header

@mixin header-pc{
    @include flex (row, flex-end, center, 1.5rem);
    padding-right: 1rem;
    font-size: 1.25rem;
    width: 100%;
}

// Footer

@mixin footer-pc{
    @include flex(row, space-between, center, null);
    padding: 1rem;
    text-decoration: none;
    width: 100%;
    border-radius: 1rem;
}

// Sections

@mixin index-pc{
    @include grid(repeat(3, 1fr), 1, "tarjeta1 tarjeta2 tarjeta3", 1.5rem);    
    padding-bottom: 0;
    

    /* Asignación de cada tarjeta */

    .tarjeta1{
        grid-area: tarjeta1;
    }

    .tarjeta2{
        grid-area: tarjeta2;
    }

    .tarjeta3{
        grid-area: tarjeta3;
    }
}

@mixin nosotros-pc{
    @include grid(repeat(3, 1fr), null, "nosotros1 nosotros2 nosotros3", 1.5rem);
    padding-bottom: 0;

    /* Asignación de cada tarjeta */

    .nosotros1{
        grid-area: nosotros1;
    }

    .nosotros2{
        grid-area: nosotros2;
    }

    .nosotros3{
        grid-area: nosotros3;
    }
}

@mixin proyectos-pc{
    @include grid(repeat(2, 1fr), auto auto, "proyectos1 proyectos2" "proyectos3 proyectos4", 1.5rem);
        padding-bottom: 0;

    /* Asignación de areas del grid */

    .proyectos1{
        grid-area: proyectos1;
    }

    .proyectos2{
        grid-area: proyectos2;
    }

    .proyectos3{
        grid-area: proyectos3;
    }

    .proyectos4{
        grid-area: proyectos4;
    }
}

@mixin faq-pc{
    @include grid(repeat(2, 1fr), auto auto, "faq1 faq2" "faq3 faq4", 1.5rem);
    padding-bottom: 0; 

    /* Asignación de areas del grid */

    .faq1{
        grid-area: faq1;
    }

    .faq2{
        grid-area: faq2;
    }

    .faq3{
        grid-area: faq3;
    }

    .faq4{
        grid-area: faq4;
    }
}

@mixin contacto-pc{
    @include grid (repeat(2, 1fr), auto auto, "contacto1 contacto2", 1.5rem);
    padding-bottom: 0;
    

    /* Asignación de areas del grid */

    .contacto1{
        grid-area: contacto1;
    }

    .contacto2{
        grid-area: contacto2;
    }

    fieldset{
        font-family: 'Google Sans', sans-serif;
        border: none; /* Le sacamos el borde feo que trae por defecto */
        display: flex;
        flex-wrap: wrap; /* Hacemos de nuevo un formato tipo grillas */
        gap: 1rem;
        width: 100%;
    }

    legend{
        font-weight: 500;
        width: 100%;
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }

    /* Alineamos 2 labels por grilla */

    fieldset label{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.3rem;
        width: 48%; /* El tamaño que ocupa por "reglón" cada label */
    }

    fieldset label.form-mensaje{
        width: 100%;
    }

    fieldset button{
        width: auto; /* Para que el botón no se estire */
        margin: 0 auto; /* Centra horizontalmente */
        padding: 0.5rem;
        border-radius: 0.5rem;
    }

    /* Estilos de las casillas */

    fieldset input, fieldset textarea{
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #FFFFFF;
        border-radius: 0.5rem;
    }

    /* Tamaño del campo para escribir el mensaje */

    fieldset textarea{
        resize: vertical;
        min-height: 80px;
    }
}