// === Colores ===

$fondo-pagina: #311A5A;
$color-nav: #925CF7;
$color-titulos: #FFFFFF; 
$color-textos: #FAFAFA;
$color-letras-nav: #360194;
$color-letras-footer: #360194;
$color-fondo-footer: #925CF7;
$color-p-footer: #CECDCD;
$color-efectos: #5A00FF;
$color-hamburguesa: #28026b;
$color-fondo-boton: #fefdff;
$color-efecto-boton: #cfcfcf;
$carousel-efectos: rgba(98, 0, 234, 0.2);
$carousel-botones: #6200ea;

// === Fuente ===

$fuente: 'Google Sans', sans-serif;

// === Menu hamburguesa ===

$borde-menu-ham: 2px solid #FAFAFA;