@use "../utilities/variables" as *;
@use "../utilities/extend" as *;
@use "../utilities/mixin" as *;

footer {
    background-color: $color-fondo-footer;
    text-decoration: none;
    width: 100%;
    border-radius: 1rem;
    @extend %footer;

    p {
        font-weight: 400;
        color: $color-p-footer;
        font-size: 0.85rem;
        text-align: center;
        padding: 0.5rem 0.10rem 0.5rem 0.10rem;
    }

    ul {
        @extend %footer-ul;
    }

    img {
        width: 2.5rem;
    }

    @media (min-width: 1024px) {
        @include footer-pc;

        p {
            margin-left: 1rem;
            font-size: 1.05rem;
        }

        ul {
            margin-right: 1rem;
            padding-bottom: 0;
        }
    }
}