@use "../utilities/variables" as *;
@use "../utilities/extend" as *;
@use "../utilities/mixin" as *;
@use "../utilities/aninations" as *;

header{
    @extend %barra-nav;

    nav ul{
        @extend %lista-nav;
    }

    @media (min-width: 1024px){
        nav{
            width: 100%;
        }

        nav ul{
            @include header-pc;
            margin: 0;
        }
    }
}

.logo-navbar{
    transition: all 0.35s ease;
    transform-origin: center center;

    &:hover{
        transform: $logo;
    }

        @media (min-width: 768px) and (max-width: 1023px) { // Limitamos hasta donde que resolución se va a hacer más grande el logo
            width: 400px; 
        }
}


.hamburguesa{
    color: $color-textos;
    background-color: $color-hamburguesa; /* Color del interior del menú */
    border: 2px solid $color-textos;
    border-radius: 0.5rem;
    font-size: 1.75rem; /* Tamaño de la fuente de nuestro menú - En este caso, del ☰ */

    @media (min-width: 768px) and (max-width: 1023px){
        font-size: 3rem;
    }
}

.link-menu{
    color: $color-letras-nav;
    font-size: 1.35rem;
    font-weight: bold;
    padding: 0.35rem;
    border-radius: 0.5rem;
    transition: all 0.5s ease;

    @media (min-width: 768px) and (max-width: 1023px){
        font-size: 2rem;
        padding: 0.6rem 1rem;
    }

    &:visited{
        color: $color-letras-nav;
    }

    &:hover{
        background-color: $color-letras-nav;
        color: $color-textos;
        transform: $hover;
    }

    &:active {
        transform: $active; // Efecto de "botón"
    }
}