@use "../utilities/variables" as *;
@use "../utilities/extend" as *;
@use "../utilities/mixin" as *;
@use "../utilities/aninations" as *;


.figure-prefooter{
    @extend %figure-prefooter;

    h2{
        font-size: 1.5rem;
        margin-bottom: 1.25rem; /* Separamos un poquito el h2 de la imagen del figure */
    }

    p{
        margin-bottom: 0.5rem; /* Separamos un poquito el párrafo de la imagen de figure */
    }

    img{
        border-radius: 1rem; /* Mantenemos el estilo visual */
    }
}

.figure-caption figcaption{
    font-family: 'Google Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #FAFAFA; 
    font-style: italic;
    margin-top: 0.75rem; /* Separamos un poquito la "leyenda" de la figure de entre la imagen y el borde */
    text-align: center; /* Centramos la figcaption por comodidad visual y diseño de la página */
}

.faq-boton:hover{
    animation: hover-boton 1s ease-in-out infinite;
}