@charset "UTF-8";
header {
  color: #360194;
  background-color: #925CF7;
  width: 100%;
  text-decoration: none;
}

header nav ul {
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  list-style: none;
  color: #FAFAFA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.6rem;
  margin-right: 0.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.section-index {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3;
  grid-template-areas: "tarjeta1" "tarjeta2" "tarjeta3";
  gap: 0.5rem;
  padding: 1.25rem; /* Separamos el contenido de los bordes del contenedor */
}

.section-nosotros {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3;
  grid-template-areas: "nosotros1" "nosotros2" "nosotros3";
  gap: 0.5rem;
  padding: 1.25rem;
}

.section-proyectos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "proyectos1" "proyectos2" "proyectos3" "proyectos4";
  gap: 1rem;
  padding: 1.25rem;
}

.section-faq {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4;
  grid-template-areas: "faq1" "faq2" "faq3" "faq4";
  gap: 1rem;
  padding: 1.25rem;
}

.section-contacto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "contacto1" "contacto2";
  gap: 1.5rem;
  padding: 2rem; /* Separamos el contenido de los bordes del contenedor */
}

.tarjeta {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.25rem;
  font-weight: 400;
  border-radius: 1rem; /* Estilo visual agradable */
  margin-bottom: 1rem; /* Separamos las tarjetas entre sí */
}

.tarjeta-nosotros {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.25rem;
  font-weight: 400;
  border-radius: 1rem; /* Estilo visual agradable */
  margin-bottom: 1rem; /* Separamos las tarjetas entre sí */
}

.tarjeta-proyectos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.25rem;
  font-weight: 400;
  border-radius: 1rem; /* Estilo visual agradable */
  margin-bottom: 1rem; /* Separamos las tarjetas entre sí */
}

.tarjeta-faq {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  font-weight: 400;
  border-radius: 1rem; /* Estilo visual agradable */
  margin-bottom: 1rem; /* Separamos las tarjetas entre sí */
}

.tarjeta-contacto {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.25rem;
  font-weight: 400;
  border-radius: 1rem; /* Estilo visual agradable */
  margin-bottom: 1rem; /* Separamos las tarjetas entre sí */
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3rem;
}

.figure-prefooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: #925CF7;
  text-align: center;
  padding: 1.25rem;
  font-weight: 400;
  border-radius: 1rem;
  margin: 0 1rem 1rem 1rem; /* Separamos el figure del footer y de ambos costados */
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
  padding-bottom: 1rem; /* Separamos un poquito las redes del borde inferior del footer */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none; /* Borro el subrayado automático para ponerlo manualmente donde yo quiero */
}

body {
  background-color: #311A5A;
  font-family: "Google Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #FAFAFA;
}

img {
  max-width: 100%;
}

@media (min-width: 1024px) {
  header nav {
    width: 100%;
  }
  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
    padding-right: 1rem;
    font-size: 1.25rem;
    width: 100%;
    margin: 0;
  }
}

.hamburguesa {
  color: #FAFAFA;
  background-color: #28026b; /* Color del interior del menú */
  border: 2px solid #FAFAFA;
  border-radius: 0.5rem;
  font-size: 1.75rem; /* Tamaño de la fuente de nuestro menú - En este caso, del ☰ */
}

.link-menu {
  color: #360194;
  font-size: 1.35rem;
  font-weight: bold;
  padding: 0.35rem;
  border-radius: 0.5rem;
  transition: all 0.5s ease;
}
.link-menu:visited {
  color: #360194;
}
.link-menu:hover {
  background-color: #360194;
  color: #FAFAFA;
  text-decoration: underline;
}
.link-menu:focus {
  box-shadow: 0.5rem 0.5rem 1rem #311a5a;
}

h1 {
  font-weight: 700;
  font-size: 1.75rem;
  color: #FFFFFF;
  text-align: center;
  margin-top: 1rem; /* Separamos el título principal del nav y de las sections */
}

h2 {
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
  text-align: center;
  color: #FFFFFF;
}

h3 {
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
  color: #FFFFFF;
}

button {
  font-family: "Google Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  background-color: #fefdff;
  color: #5A00FF; /* Color de fuente del texto "Enviar" */
  display: flex;
  padding: 0.4rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  margin: 0.75rem 0 0.75rem 0; /* Siempre que haya un botón se va a alejar un poquito de lo que tenga alrededor */
}

button:hover {
  background-color: #cfcfcf; /* Color casi transparente para que se note cuando tenes el cursor encima */
}

.tarjeta1 {
  grid-area: tarjeta1;
}

.tarjeta2 {
  grid-area: tarjeta2;
}

.tarjeta3 {
  grid-area: tarjeta3;
}

.nosotros1 {
  grid-area: nosotros1;
}

.nosotros2 {
  grid-area: nosotros2;
}

.nosotros3 {
  grid-area: nosotros3;
}

.proyectos1 {
  grid-area: proyectos1;
}

.proyectos2 {
  grid-area: proyectos2;
}

.proyectos3 {
  grid-area: proyectos3;
}

.proyectos4 {
  grid-area: proyectos4;
}

.faq1 {
  grid-area: faq1;
}

.faq2 {
  grid-area: faq2;
}

.faq3 {
  grid-area: faq3;
}

.faq4 {
  grid-area: faq4;
}

.contacto1 {
  grid-area: contacto1;
}

.contacto2 {
  grid-area: contacto2;
}

footer {
  background-color: #925CF7;
  text-decoration: none;
  width: 100%;
  border-radius: 1rem;
}
footer p {
  font-weight: 400;
  color: #CECDCD;
  font-size: 0.85rem;
  text-align: center;
  padding: 0.5rem 0.1rem;
}
footer img {
  width: 3rem;
}
@media (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    text-decoration: none;
    width: 100%;
    border-radius: 1rem;
  }
  footer p {
    margin-left: 1rem;
    font-size: 1.05rem;
  }
  footer ul {
    width: auto;
    margin: 0;
    margin-right: 1rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
  }
}

.tarjeta {
  background-color: #925CF7;
  width: 100%;
  height: 100%;
}
.tarjeta h2 {
  font-size: 1.45rem;
  padding-top: 0.5rem;
}
.tarjeta img {
  padding: 0 0.5rem; /* Separamos un poquito la imagen de los costados para centrar y dar efecto de que la imagen está dentro de la tarjeta */
  border-radius: 1rem; /* Le ponemos el mismo estilo agradable a las imagenes para que concuerden */
}
.tarjeta p {
  font-size: 1rem;
}
.tarjeta ul { /* Lista principal */
  list-style-position: disc; /* Para colocar visualmente la sublista dentro de la lista */
  padding-left: 1.25rem;
  margin: 0;
  width: 100%; /* Para que los "puntitos" de la lista ocupen el tamaño de su contenedor y no se salgan para afuera */
}
.tarjeta ul { /* sublista */
  list-style-type: none;
  padding-left: 0.5rem; /* Pequeño espacio para denotar que las sublistas estan dentro de las listas */
  font-size: 1rem;
}
.tarjeta li {
  padding: 0.25rem; /* Pequeña separación entre cada item dentro de la la lista de la sublista */
}

@media (min-width: 1024px) {
  .section-index {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
    grid-template-areas: "tarjeta1 tarjeta2 tarjeta3";
    gap: 1.5rem;
    padding-bottom: 0;
    /* Asignación de cada tarjeta */
  }
  .section-index .tarjeta1 {
    grid-area: tarjeta1;
  }
  .section-index .tarjeta2 {
    grid-area: tarjeta2;
  }
  .section-index .tarjeta3 {
    grid-area: tarjeta3;
  }
}

.tarjeta-nosotros {
  background-color: #925CF7;
  width: 100%;
}
.tarjeta-nosotros h2 {
  font-size: 1.25rem;
  padding-top: 0.5rem;
}
.tarjeta-nosotros p {
  font-size: 1rem;
}

@media (min-width: 1024px) {
  .section-nosotros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "nosotros1 nosotros2 nosotros3";
    gap: 1.5rem;
    padding-bottom: 0;
    /* Asignación de cada tarjeta */
  }
  .section-nosotros .nosotros1 {
    grid-area: nosotros1;
  }
  .section-nosotros .nosotros2 {
    grid-area: nosotros2;
  }
  .section-nosotros .nosotros3 {
    grid-area: nosotros3;
  }
}

.tarjeta-proyectos {
  background-color: #925CF7;
  width: 100%;
}
.tarjeta-proyectos h2 {
  font-size: 1.25rem;
  padding-top: 0.5rem;
}
.tarjeta-proyectos img {
  padding: 0 0.5rem; /* Separamos un poquito la imagen de los costados para centrar y dar efecto de que la imagen está dentro de la tarjeta */
  border-radius: 1rem; /* Le ponemos el mismo estilo agradable a las imagenes para que concuerden */
}
.tarjeta-proyectos p {
  font-size: 1rem;
}

@media (min-width: 1024px) {
  .section-proyectos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: "proyectos1 proyectos2" "proyectos3 proyectos4";
    gap: 1.5rem;
    padding-bottom: 0;
    /* Asignación de areas del grid */
  }
  .section-proyectos .proyectos1 {
    grid-area: proyectos1;
  }
  .section-proyectos .proyectos2 {
    grid-area: proyectos2;
  }
  .section-proyectos .proyectos3 {
    grid-area: proyectos3;
  }
  .section-proyectos .proyectos4 {
    grid-area: proyectos4;
  }
}

.titulo-faq {
  font-weight: 700;
  font-size: 1.7rem;
  color: #FFFFFF;
  display: flex;
  text-align: center; /* Centramos el título de la sección de proyectos */
}

.tarjeta-faq {
  background-color: #925CF7;
  width: 100%;
  text-align: center;
}
.tarjeta-faq h2 {
  font-size: 1.4rem;
  padding-top: 0.5rem;
  text-align: center; /* Centrar el título de la tarjeta */
}
.tarjeta-faq p {
  padding-top: 1rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}
.tarjeta-faq ul {
  font-size: 1rem;
  list-style-position: disc; /* Para colocar visualmente la sublista dentro de la lista */
  padding-left: 1.25rem;
  margin: 0;
  width: 100%; /* Para que los "puntitos" de la lista ocupen el tamaño de su contenedor y no se salgan para afuera */
}
.tarjeta-faq ul ul li {
  font-size: 1rem;
  padding: 0.75rem; /* Pequeña separación entre cada item dentro de la la lista */
  list-style: none;
  font-style: bold;
  font-weight: 400;
}

@media (min-width: 1024px) {
  .section-faq {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: "faq1 faq2" "faq3 faq4";
    gap: 1.5rem;
    padding-bottom: 0;
    /* Asignación de areas del grid */
  }
  .section-faq .faq1 {
    grid-area: faq1;
  }
  .section-faq .faq2 {
    grid-area: faq2;
  }
  .section-faq .faq3 {
    grid-area: faq3;
  }
  .section-faq .faq4 {
    grid-area: faq4;
  }
}

.titulo-contacto {
  font-weight: 700;
  font-size: 1.7rem;
  color: #FFFFFF;
  display: flex;
  text-align: center; /* Centramos el título de la sección de proyectos */
  padding: 0.5rem; /* Separamos el título de los costados */
}

h2 {
  font-size: 1.5rem;
  padding-top: 0.5rem;
}

h3 {
  font-size: 1.5rem;
  padding-top: 0.5rem;
}

.tarjeta-contacto {
  background-color: #925CF7;
  width: 100%;
  text-align: center;
}

p {
  padding: 0.5rem;
  font-size: 1rem;
}

fieldset {
  font-family: "Google Sans", sans-serif;
  border: none; /* Le sacamos el borde feo que trae por defecto */
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

label {
  width: 100%; /* Para que entren 1 label por grilla */
}

legend {
  font-weight: 500;
  width: 100%; /* Para que ocupe toda la primera grilla */
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 1024px) {
  .section-contacto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: "contacto1 contacto2";
    gap: 1.5rem;
    padding-bottom: 0;
    /* Asignación de areas del grid */
  }
  .section-contacto .contacto1 {
    grid-area: contacto1;
  }
  .section-contacto .contacto2 {
    grid-area: contacto2;
  }
  .section-contacto fieldset {
    font-family: "Google Sans", sans-serif;
    border: none; /* Le sacamos el borde feo que trae por defecto */
    display: flex;
    flex-wrap: wrap; /* Hacemos de nuevo un formato tipo grillas */
    gap: 1rem;
    width: 100%;
  }
  .section-contacto legend {
    font-weight: 500;
    width: 100%;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  .section-contacto {
    /* Alineamos 2 labels por grilla */
  }
  .section-contacto fieldset label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;
    width: 48%; /* El tamaño que ocupa por "reglón" cada label */
  }
  .section-contacto fieldset label.form-mensaje {
    width: 100%;
  }
  .section-contacto fieldset button {
    width: auto; /* Para que el botón no se estire */
    margin: 0 auto; /* Centra horizontalmente */
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  .section-contacto {
    /* Estilos de las casillas */
  }
  .section-contacto fieldset input, .section-contacto fieldset textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #FFFFFF;
    border-radius: 0.5rem;
  }
  .section-contacto {
    /* Tamaño del campo para escribir el mensaje */
  }
  .section-contacto fieldset textarea {
    resize: vertical;
    min-height: 80px;
  }
}

.tarjeta-carousel {
  max-width: 70rem; /* Ancho de la tarjeta */
  margin: 1.25rem auto; /* Centramos la tarjeta */
  background-color: #925CF7;
  border: 1rem solid #925CF7; /* Color de la tarjeta igual al resto de tarjetas */
  border-radius: 1rem; /* Esquinas redondeadas para mantener la estética */
  overflow: hidden;
}
.tarjeta-carousel h2, .tarjeta-carousel p {
  text-align: center;
}
.tarjeta-carousel .carousel-inner, .tarjeta-carousel .carousel-item {
  height: 600px;
  overflow: hidden;
}
.tarjeta-carousel .carousel-item {
  width: 100%;
}
.tarjeta-carousel img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Hover de los botones de "anterior" y "siguiente */
.carousel-control-prev, .carousel-control-next {
  width: 10%; /* Ocupa solo el 10% */
  transition: all 0.35s ease; /* Transición suave al pasar el puntero por encima */
}

/* Efectos */
.carousel-control-prev:hover,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-next:focus {
  background-color: rgba(98, 0, 234, 0.2);
  opacity: 1;
}

/* Iconos de los botones de "anterior" y "siguiente" */
.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #6200ea;
  border-radius: 50%; /* Hacemos circulares los botones */
  padding: 1rem;
  background-size: 50%;
}

.figure-prefooter h2 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem; /* Separamos un poquito el h2 de la imagen del figure */
}
.figure-prefooter p {
  margin-bottom: 0.5rem; /* Separamos un poquito el párrafo de la imagen de figure */
}
.figure-prefooter img {
  border-radius: 1rem; /* Mantenemos el estilo visual */
}

.figure-caption figcaption {
  font-family: "Google Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #FAFAFA;
  font-style: italic;
  margin-top: 0.5rem; /* Separamos un poquito la "leyenda" de la figure de entre la imagen y el borde */
  text-align: center; /* Centramos la figcaption por comodidad visual y diseño de la página */
}

/*# sourceMappingURL=styles.css.map */
